@{
    var blogName = ViewBag.BlogName;
    var blogDesc = ViewBag.BlogShortDescription;
}

<div id="page-title" class="page-title has-bg">
    <div class="bg-cover bottom"><img src="/Areas/Blog/Content/Themes/base/assets/img/cover/cover-8.jpg" alt="" /></div>
    <div class="container">
        <h1>@blogName</h1>
        <p>@blogDesc</p>
    </div>
</div>