@{
    ViewBag.Title = "Forgot Password Confirmation";
    ViewBag.TitleIcon = "mdi-email-secure";
}

<section class="section-124">
    <div class="shell">
        <div class="range range-xs-center">
            <div class="cell-xs-8">
                <h1>@ViewBag.Title.</h1>
                <div>
                    <hr class="divider bg-mantis">
                </div>
                <div class="offset-top-20">
                    <p>Please check your email to reset your password.</p>
                </div>
                <div class="offset-top-34"><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-icon btn-icon-left"><span class="icon mdi mdi-check-all"></span>Back to Login</a></div>
            </div>
        </div>
    </div>
</section>