@model BAP.Web.Models.LoginViewModel
@{
    this.Layout = null;
}

<!-- LOGIN MODAL -->
<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">log in</h3>
            </div>
            <div class="modal-body">
                @Html.Partial("_LoginForm")
            </div>
        </div>
    </div>
</div>
