<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

<label for="googleMapWidth">Width:</label><input type="number" id="googleMapWidth" value="600" class="form-control"/>
<label for="googleMapHeight">Height:</label><input type="number" id="googleMapHeight" value="450" class="form-control"/>
<input type="hidden" id="hdnGoogleMapContent" />