<!-- Page Footer-->
<!-- Default footer-->
<footer class="section-relative section-top-66 section-bottom-34 page-footer bg-gray-base context-dark">    
    <div class="shell offset-top-0">
        <p class="small text-darker">
            BAP Software &copy; <span id="copyright-year"></span> | <a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a>            
        </p>
    </div>
</footer>
