@using BAP.Resources

<div id="AlertModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" style="width:0px;height:0px;position:absolute;left:10px;top:10px;z-index:-10;" id="FocusControl" /><button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Information</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-info m-r-5 m-b-5" data-dismiss="modal">@Resources.UIText_Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="DataConfirmModal" class="modal fade" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="dataConfirmLabel">@Resources.UIText_PleaseConfirm</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default m-r-5 m-b-5" id="dataConfirmCancel" data-dismiss="modal" aria-hidden="true">@Resources.UIText_Cancel</button>
                <a class="btn btn-warning m-r-5 m-b-5" id="dataConfirmOK">@Resources.UIText_Ok</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //var proxied = window.alert;
        window.alert = function () {
            var opt = {
                show: true,
                keyboard: true
            };

            $("#AlertModal .modal-body").text(arguments[0]);
            $("#AlertModal .modal-title").text(arguments[1]);
            $("#dataConfirmCancel").hide();
            $("#AlertModal").modal(opt);
        };


        $('#AlertModal').on('shown.bs.modal', function () {
            $('#FocusControl').focus();
            $('#FocusControl').select();
        });


        $('a[data-confirm]').click(function (ev) {
            var href = $(this).attr('href');
            $('#DataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
            $('#dataConfirmOK').attr('href', href);
            $('#DataConfirmModal').modal({ show: true });
            return false;
        });

        $('button[data-confirm]').click(function (ev) {
            var onclick = $(this).attr('data-onclick');
            $('#DataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
            $('#dataConfirmOK').click(function () { eval(onclick); });
            $('#DataConfirmModal').modal({ show: true });
            return false;
        });
    });

    function BapAlert(alert, title) {
        var opt = {
            show: true,
            keyboard: true
        };

        $("#AlertModal .modal-body").text(alert);
        $("#AlertModal .modal-title").text(title);
        $("#AlertModal").modal(opt);
    }

    function BapConfirm(confirm, title, object, callback) {
        $('#DataConfirmModal').find('.modal-body').text(confirm);
        $('#dataConfirmLabel').text(title);
        $('#dataConfirmOK').click(function () {
            callback(object);
        });
        $('#DataConfirmModal').modal({ show: true });
    }
</script>
