<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | @BAP.Resources.Resources.UIText_ApplicationTitle</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta content="BAP, business automation platform host application" name="description" />
    <meta content="BAP Software, Victor Mamray" name="author" />
    <meta content="BAP,business automation,software development" name="keywords" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="~/Content/themes/base/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/assets/css/animate.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/assets/css/style.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/assets/css/style-responsive.min.css" rel="stylesheet" />
	<link href="~/Content/themes/base/assets/css/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="~/Content/themes/base/assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->   
</head>
<body class="pace-top">    
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <!-- begin #page-container -->            
    @RenderBody()            
    <!-- end #page-container -->
    
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/themes/base/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/Content/themes/base/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Content/themes/base/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Content/themes/base/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/Content/themes/base/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/Content/themes/base/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/Content/themes/base/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Content/themes/base/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/themes/base/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/themes/base/assets/js/login-v2.demo.min.js"></script>
    <script src="~/Content/themes/base/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
    </script>

</body>
</html>
