<!-- Embed Video-->
<!-- Classic Soundcloud Player-->
<!-- RD Video Player-->
<!-- About Us-->
<section class="section-98 section-md-110">
    <div class="shell">
        <div class="range text-lg-left">
            <div class="cell-sm-preffix-2 cell-sm-8 cell-lg-preffix-0 cell-lg-6 cell-lg-push-6">
                <img src="/Content/Themes/Base/images/bap/about_us_medium.jpg" width="570" height="390" class="img-responsive" alt="About us picture" title="About Us" />                
            </div>
            <div class="cell-sm-preffix-2 cell-sm-8 cell-lg-preffix-0 cell-lg-6 cell-lg-pull-6 offset-top-30 offset-lg-top-0">
                <div class="inset-lg-right-20">
                    <h3>About BAP</h3>
                    <hr class="divider hr-lg-left-0 bg-blue-gray">
                    <p>
                        "BAP Software" is software development company specialized on business automation. We offer our product called "BAP" (Business Automation Platform).
                        BAP is a business process management software consists of application building blocks.
                        Using those blocks gives a way to quickly build any kind of business automation software.
                    </p>
                    <p>
                        We have experience in automation of telecom, transport, medicine, real estate and finaces.
                        Here we are glad to offer several ready to use applications:
                        <ul>
                            <li>BAP CMS (<a href="/pricing">iGoSite</a>)</li>
                            <li>BAP Blog (<a href="/pricing">iGoBlog</a>)</li>
                            <li>BAP eCommerce (<a href="/pricing">iGoShop</a>)</li>
                        </ul>
                        <a href="/pricing" class="fa-external-link"> More details about our product are here.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
