<section class="section-98 section-sm-34">
    <div class="shell-fluid">
        <div class="container">
            <h1>Consider our competitive prices of the products we offer.</h1>
            <hr class="divider bg-mantis">
            <p>
                Here is the list of products we offer. These are ready to use packaged solutions. If you wish to go with something more flexible and specific to your needs please <a href="@Url.Action("Contact", "Home")" class="fa-external-link">contact us</a> about that to get more details.
            </p>          
        </div>
        <div class="range range-condensed range-md-center offset-top-66">
            <div class="cell-xs-8 cell-xs-preffix-2 cell-md-4 cell-md-preffix-0 cell-lg-3 cell-xl-2">
                <!-- Planning Box type 2-->
                <div class="box-planning box-planning-type-2">
                    <div class="box-planning-label">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve" class="box-planning-svg">
                        <path d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z" class="bg-picton-blue"></path>
                            </svg><span class="text-bold">Most <br> Popular</span>
                    </div>
                    <h2>iGoSite</h2>
                    <p class="h1 plan-price text-picton-blue">
                        FREE<sup class="text-dark">single*</sup>
                    </p>
                    <hr class="divider bg-picton-blue">
                    <p class="text-bold"><small>BAP Content Management System.</small></p>
                    <ul class="list-separated list-unstyled">
                        <li><span class="text-dark">Page Management</span></li>
                        <li><span class="text-dark">Extenable Lookups</span></li>
                        <li><span class="text-dark">Customizable UI Controls</span></li>
                        <li><span class="text-dark">Media Management</span></li>
                        <li><span class="text-dark">SEO Features</span></li>
                        <li><span class="text-dark">24/7 Email support</span></li>
                    </ul><a href="/contact?subject=RE: about BAP CMS (iGoSite)" class="btn btn-block btn-rect btn-picton-blue">SIGN UP</a>
                </div>
            </div>

            <div class="cell-xs-8 cell-xs-preffix-2 cell-md-4 cell-md-preffix-0 cell-lg-3 cell-xl-2">
                <!-- Planning Box type 2-->
                <div class="box-planning box-planning-type-2">
                    <div class="box-planning-label">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve" class="box-planning-svg">
                        <path d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z" class="bg-picton-blue"></path>
                            </svg><span class="text-bold">Ideal <br> Choice</span>
                    </div>
                    <h2>iGoBlog</h2>
                    <p class="h1 plan-price text-picton-blue">
                        <sup class="big">$</sup>49.99<sup class="text-dark">single*</sup>
                    </p>
                    <hr class="divider bg-picton-blue">
                    <p class="text-bold"><small>Easy to use BAP blogging solution.</small></p>
                    <ul class="list-separated list-unstyled">
                        <li><span class="text-dark">BAP CMS</span></li>
                        <li><span class="text-dark">List of Blogs</span></li>
                        <li><span class="text-dark">List of Authors</span></li>
                        <li><span class="text-dark">Archiving</span></li>
                        <li><span class="text-dark">Access Control</span></li>
                        <li><span class="text-dark">24/7 Email support</span></li>
                    </ul><a href="/contact?subject=RE: about BAP Blogging (iGoBlog)" class="btn btn-block btn-rect btn-picton-blue">SIGN UP</a>
                </div>
            </div>

            <div class="cell-xs-8 cell-xs-preffix-2 cell-md-4 cell-md-preffix-0 cell-lg-3 cell-xl-2 offset-top-50 offset-md-top-0">
                <!-- Planning Box type 2-->
                <div class="box-planning box-planning-type-2 active">
                    <div class="box-planning-label">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve" class="box-planning-svg">
                        <path d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z" class="bg-picton-blue"></path>
                            </svg><span class="text-bold">Best&nbsp;&nbsp;&nbsp;<br>Seller&nbsp;&nbsp;</span>
                    </div>
                    <h2>iGoShop</h2>
                    <p class="h1 plan-price text-picton-blue">
                        <sup class="big">$</sup>299.99<sup class="text-dark">single*</sup>
                    </p>
                    <hr class="divider bg-picton-blue">
                    <p class="text-bold"><small>BAP eCommerce solution.</small></p>
                    <ul class="list-separated list-unstyled">
                        <li><span class="text-dark">BAP CMS</span></li>
                        <li><span class="text-dark">Product Management</span></li>
                        <li><span class="text-dark">Shipping &amp; Payment</span></li>
                        <li><span class="text-dark">Discounts</span></li>
                        <li><span class="text-dark">Customers &amp; Orders</span></li>
                        <li><span class="text-dark">Business Worklows</span></li>
                        <li><span class="text-dark">Scheduled Jobs</span></li>
                        <li><span class="text-dark">24/7 Email support</span></li>
                    </ul><a href="/contact?subject=RE: about BAP eCommerce (iGoShop)" class="btn btn-block btn-rect btn-picton-blue">SIGN UP</a>
                </div>
            </div>

            <div class="cell-xs-8 cell-xs-preffix-2 cell-md-4 cell-md-preffix-0 cell-lg-3 cell-xl-2 offset-top-50 offset-md-top-0">
                <!-- Planning Box type 2-->
                <div class="box-planning box-planning-type-2">
                    <div class="box-planning-label">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve" class="box-planning-svg">
                        <path d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z" class="bg-picton-blue"></path>
                            </svg><span class="text-bold">Most <br> Popular</span>
                    </div>
                    <h2>Custom</h2>
                    <p class="h1 plan-price text-picton-blue">
                        Negotiable
                    </p>
                    <hr class="divider bg-picton-blue">
                    <p class="text-bold"><small>Let's make something special.</small></p>
                    <ul class="list-separated list-unstyled">
                        <li><span class="text-dark">eCommerce + Blog</span></li>
                        <li><span class="text-dark">Document Templates</span></li>
                        <li><span class="text-dark">Customized Shipping &amp; Payments</span></li>
                        <li><span class="text-dark">Complex Business Flows</span></li>
                        <li><span class="text-dark">External Data Storages</span></li>
                        <li><span class="text-dark">Complex System Integrations</span></li>
                        <li><span class="text-dark"><a href="~/Content/BAPProductSheet.pdf" target="_blank">Other Software Development</a></span></li>
                    </ul><a href="/contact?subject=RE: about BAP custom development" class="btn btn-block btn-rect btn-picton-blue">SIGN UP</a>
                </div>
            </div>
        </div>
        <div class="container">            
            <a href="http://apps-dev.bap-software.com" class="btn btn-primary btn-icon btn-icon-left offset-top-20" target="_blank"><span class="icon fa fa-external-link-square text-middle"></span>Try Our Demo Application</a>
        </div>
    </div>
</section>


<section class="section-66 bg-gray-darkest context-dark">
    <div class="shell">
        <h2>Not Sure Which Product is Right For You?</h2>
        <p>If you are in doubt of which product to opt for, simply contact us and we will try to help you make the right decision.</p><a href="/contact" class="btn btn-primary btn-icon btn-icon-left offset-top-20"><span class="icon mdi mdi-email-outline"></span>Send us a letter</a>
    </div>
</section>
