@{
    Layout = null;
}
<div id="slider" class="section-container p-0 bg-black-darker">
    <!-- BEGIN carousel -->
    <div id="main-carousel" class="carousel slide" data-ride="carousel">
        <!-- BEGIN carousel-inner -->
        <div class="carousel-inner">
            <!-- BEGIN item -->
            <div class="item active">
                <img src="~/Areas/eCommerce/Content/Themes/Base/assets/img/slider/slider-1-cover.jpg" class="bg-cover-img" alt="" />
                <div class="container">
                    <img src="~/Areas/eCommerce/Content/Themes/Base/assets/img/slider/slider-1-product.png" class="product-img right bottom fadeInRight animated" alt="" />
                </div>
                <div class="carousel-caption carousel-caption-left">
                    <div class="container">
                        <h3 class="title m-b-5 fadeInLeftBig animated">iMac</h3>
                        <p class="m-b-15 fadeInLeftBig animated">Retina. Now in colossal and ginormous.</p>
                        <div class="price m-b-30 fadeInLeftBig animated"><small>from</small> <span>$649.00</span></div>
                        <a href="#" class="btn btn-outline btn-lg fadeInLeftBig animated">Buy Now</a>
                    </div>
                </div>
            </div>
            <!-- END item -->
            <!-- BEGIN item -->
            <div class="item">
                <img src="~/Areas/eCommerce/Content/Themes/Base/assets/img/slider/slider-2-cover.jpg" class="bg-cover-img" alt="" />
                <div class="container">
                    <img src="~/Areas/eCommerce/Content/Themes/Base/assets/img/slider/slider-2-product.png" class="product-img left bottom fadeInLeft animated" alt="" />
                </div>
                <div class="carousel-caption carousel-caption-right">
                    <div class="container">
                        <h3 class="title m-b-5 fadeInRightBig animated">iPhone 6s</h3>
                        <p class="m-b-15 fadeInRightBig animated">The only thing that’s changed is everything</p>
                        <div class="price m-b-30 fadeInRightBig animated"><small>from</small> <span>$1,299.00</span></div>
                        <a href="#" class="btn btn-outline btn-lg fadeInRightBig animated">Buy Now</a>
                    </div>
                </div>
            </div>
            <!-- END item -->
            <!-- BEGIN item -->
            <div class="item">
                <img src="~/Areas/eCommerce/Content/Themes/Base/assets/img/slider/slider-3-cover.jpg" class="bg-cover-img" alt="" />
                <div class="carousel-caption">
                    <div class="container">
                        <h3 class="title m-b-5 fadeInDownBig animated">Macbook Air</h3>
                        <p class="m-b-15 fadeInDownBig animated">Thin.Light.Powerful.<br />And ready for anything</p>
                        <div class="price fadeInDownBig animated"><small>from</small> <span>$999.00</span></div>
                        <a href="#" class="btn btn-outline btn-lg fadeInUpBig animated">Buy Now</a>
                    </div>
                </div>
            </div>
            <!-- END item -->
        </div>
        <!-- END carousel-inner -->
        <a class="left carousel-control" href="#main-carousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#main-carousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <!-- END carousel -->
</div>