@model IList<BAP.Common.Modules.ModuleMenuNode>

@if(Model != null && Model.Count > 0)
{        
    foreach (var node in Model)
    {
        <li class="dropdown dropdown-hover">
            @node.Title
            @Html.DisplayFor(a => node)
        </li>
    }    
}