@{ 

}

    <div id="subscribe" class="section-container bg-silver p-t-30 p-b-30">
        <!-- BEGIN container -->
        <div class="container">
            <!-- BEGIN row -->
            <div class="row">
                <!-- BEGIN col-6 -->
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN subscription -->
                    <div class="subscription">
                        <div class="subscription-intro">
                            <h4>LET'S STAY IN TOUCH</h4>
                            <p>Get updates on sales specials and more</p>
                        </div>
                        <div class="subscription-form">
                            <form name="subscription_form" action="@Url.Action("RegisterSubscriber", "Home", new {Area = ""})" method="POST">
                                @Html.AntiForgeryToken()
                                <div class="input-group">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Enter Email Address" />
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn btn-inverse"><i class="fa fa-angle-right"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- END subscription -->
                </div>
                <!-- END col-6 -->
                <!-- BEGIN col-6 -->
                <div class="col-md-6 col-sm-6">
                    <!-- BEGIN social -->
                    <div class="social">
                        <div class="social-intro">
                            <h4>FOLLOW US</h4>
                            <p>We want to hear from you!</p>
                        </div>
                        <div class="social-list">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                    <!-- END social -->
                </div>
                <!-- END col-6 -->
            </div>
            <!-- END row -->
        </div>
        <!-- END container -->
    </div>